<mat-sidenav-container fullscreen>

    <mat-sidenav #start>
        <mat-nav-list>

            <a mat-list-item routerLink="">
                <mat-icon>library_books</mat-icon>
                <span>Trains</span>
            </a>

<!--             <a mat-list-item routerLink="train-summary">
                <mat-icon>question_answer</mat-icon>
                <span>Train Details</span>
            </a> -->
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar color="primary">
        <button mat-icon-button (click)="start.open('mouse')">
            <mat-icon>menu</mat-icon>
            <span>Menu</span>
        </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-sidenav-container>